html, body {
    color:  white;
    background-color: slategrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: 0;
}